.IndexContainer {
    .imgBtns{

        position: relative;
    }
    .ImgPedro {
        width: 100%;
        position:static;
    }
    .btnIndex {
        position: absolute;
        top: 45%;
        right: 10vw;
        display: flex;
        flex-flow: column wrap;
    }
}
@media screen and (max-width: 450px) {
    .cel {
        display: flex;
    }
    .pc {
        display: none;
    }
}
@media screen and (min-width: 450px) {
    .cel {
        display: none;
    }
    .pc {
        display: flex;
    }
}
