@import "../../../../variables.scss";
.ProyectoContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 15px;
    a {
        text-decoration: none;
    }
    .card {
        &:hover {
            transform: scale(1.05);
        }
        .skills {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
        .state{
            margin-bottom:15px ;
        }
    }
}
