$anchoVideo: 100%;
$altoVideo:(100/1.76);
// @import '../../../../variables.scss';

.ProyectoItem{
    max-width: 90vw;
    margin: auto;
    min-height: 80vh;

    display: grid;
    gap: 15px;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    grid-template-columns: 1fr 1.6fr;
    grid-template-areas:
    "logoTitle logoTitle"
    "video description"
    "technologies photos"
    "buttons buttons"
    ;
    // border-bottom: solid $color3 20px;

    .logoTitle{
        grid-area: logoTitle;
        margin: 6px;
        img{
            // filter: drop-shadow(2px 3px 4px $color1);
            max-width: 20vw;
            &:hover{
                scale: 1.05;
                // filter: drop-shadow(4px 5px 5px $color1);
                cursor: pointer;
            }
        }
    }
    .video{
        grid-area: video;
        width: 70%;
        margin: auto;
        .containerVideo{
            position: relative;
            padding-bottom: 70%;
            padding-top: 0%;
            height: 0;
            overflow: hidden;
            iframe{
                border:none;
        
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .description{
        grid-area: description;
    }
    .photos{
        grid-area: photos;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            max-height: 315px;
            object-fit: contain;
        }
    }
    .technologies{
        grid-area: technologies;
        li{
            padding: 4px;
            text-transform: capitalize;
        }
    }
    .buttons{
        grid-area: buttons;
    }
    h1{
        margin: auto;
    }

}
.no-video-container{
    grid-template-areas:
    "logoTitle logoTitle"
    "description description"
    "technologies photos"
    "buttons buttons"
    ;

}
@media (max-width:600px){
    .ProyectoItem{
        grid-template-columns: 1fr;
        grid-template-areas:
        "logoTitle"
        "video"
        "description"
        "technologies"
        "photos"
        "buttons"
        ;
        .logoTitle{
            img{
                max-width: 50vw;
            }
        }
    }
}