$anchoVideo: 100%;
$altoVideo:(100/1.76);
// @import '../../../../variables.scss';
.ProyectoItem{
    max-width: 100vw;
    min-height: 80vh;

    display: grid;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    grid-template-areas:
    "logoTitle logoTitle"
    "video carouselPhotos"
    "description technologies"
    "buttons buttons"
    ;
    // border-bottom: solid $color3 20px;

    .logoTitle{
        grid-area: logoTitle;
        margin: 6px;
        img{
            // filter: drop-shadow(2px 3px 4px $color1);
            max-width: 20vw;
            &:hover{
                scale: 1.05;
                // filter: drop-shadow(4px 5px 5px $color1);
                cursor: pointer;
            }
        }
    }
    .video{
        grid-area: video;
        width: 70%;
        margin: auto;
        .containerVideo{
            position: relative;
            padding-bottom: 70%;
            padding-top: 0%;
            height: 0;
            overflow: hidden;
            iframe{
                border:none;
        
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .carouselPhotos{
        grid-area: carouselPhotos;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            max-height: 315px;
            object-fit: contain;
        }
    }
    .technologies{
        grid-area: technologies;
    }
    .buttons{
        grid-area: buttons;
    }
    h1{
        margin: auto;
    }

}
@media (max-width:600px){
    .ProyectoItem{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "logoTitle logoTitle"
        "video video"
        "carouselPhotos technologies"
        "carouselPhotos description"
        "buttons buttons"
        ;
        .logoTitle{
            img{
                max-width: 50vw;
            }
        }
    }
}
.ProyectoItem1{
    // // background-color: $color1;
    // // color: $color2;
    h1{
        // // color: $color2;
    }
}
.ProyectoItem2{
    // background-color: rgb(24, 24, 24);
    // // color: $color3;
    h1{
        // // color: $color3;
    }
}
.ProyectoItem3{
    // // background-color: $color1;
    // // color: $color4;
    h1{
        // // color: $color4;
    }
}