@import '../../variables.scss';
footer{
    display: flex;
    flex-flow: row wrap;
    // margin-top: auto;
    justify-content: space-around;
    div{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        // text-shadow: 0 0 30px white;
    }
    a{
        text-decoration: none;
    }
}
@media (max-width:600px){
    footer{
        flex-flow: column wrap;
        min-height: 100vh;
        
    }
}