@import "./variables.scss";

.App {
    text-align: center;
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-flow: nowrap column;
    min-height: 100vh;
    justify-content: space-between;

    main {
        min-height: 100%;
        button {
            margin: 10px auto;
        }
    }

    nav {
        li:hover {
            transform: scale(1.15);
        }
    }
}
